main
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.body-section
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-section
{
    background-color: rgb(196, 115, 0);
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-section
{
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cards-container
{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
}

.cards-group
{
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
    border: 1px solid rgb(225, 225, 225);
}

.card
{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 5px;
    padding: 10px;
}

.card img, .card ion-icon
{
    width: 50px;
    height: 50px;
}

.card:nth-child(3n - 2) ion-icon
{
    color: orange;
}

.card:nth-child(3n - 0) ion-icon
{
    color: green;
}

.card span
{
    text-align: center;
}
