.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-logo-section img
{
    display: block;
    height: 200px;
    width: 200px;
}

.nav-links
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.nav-links li
{
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 12px;
    border-radius: 50px;
}

.nav-search
{
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 20px;
}

.nav-search input
{
    outline: none;
    border: none;
    font-size: 1.2em;
    padding: 10px;
    padding-left: 30px;
    border-radius: 20px 0 0 20px;
    height: 30px;
}

.nav-search ion-icon
{
    font-size: 1.2em;
    border-radius: 0 20px 20px 0;
    border-left: 1px solid rgb(225, 225, 225);
    background-color: rgb(245, 245, 245);
    font-size: 1.2em;
    padding: 10px;
    height: 30px;
}
