<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>

    <header>
        <div class="navbar-container">

        </div>
    </header>

    <main>

        <div class="body-section cards-section">

            <div class="cards-group">
                <h2>Common</h2>
                
                <div class="cards-container">
                    <div class="card">
                        <ion-icon name="book"></ion-icon>
                        <span>Notes</span>
                    </div>
        
                    <div class="card">
                        <ion-icon name="home"></ion-icon>
                        <span>Homeworks</span>
                    </div>
        
                    <div class="card">
                        <ion-icon name="trophy"></ion-icon>
                        <span>Competitions</span>
                    </div>
        
                    <div class="card">
                        <ion-icon name="help-circle"></ion-icon>
                        <span>Quizzes</span>
                    </div>

                    <div class="card">
                        <ion-icon name="clipboard"></ion-icon>
                        <span>Teacher</span>
                    </div>
                </div>
            </div>

            <div class="cards-group">
                <h2>English</h2>
    
                <div class="cards-container">
                    <div class="card">
                        <ion-icon name="book"></ion-icon>
                        <span>Writer</span>
                    </div>
    
                    <div class="card">
                        <ion-icon name="pencil"></ion-icon>
                        <span>Writer</span>
                    </div>
    
                    <div class="card">
                        <ion-icon name="desktop-outline"></ion-icon>
                        <span>Chapter Assistant</span>
                    </div>
                </div>
            </div>
    
            <div class="cards-group">
                <h2>Maths</h2>
    
                <div class="cards-container">
                    <div class="card">
                        <ion-icon name="calculator"></ion-icon>
                        <span>Problem Solver</span>
                    </div>
                </div>
            </div>

            <div class="cards-group">
                <h2>Science</h2>
    
                <div class="cards-container">
                    <div class="card">
                        <ion-icon name="flask"></ion-icon>
                        <span>Chemical Equations</span>
                    </div>

                    <div class="card">
                        <ion-icon name="bulb"></ion-icon>
                        <span>Physics Solver</span>
                    </div>

                    <div class="card">
                        <ion-icon name="accessibility"></ion-icon>
                        <span>Biology Helper</span>
                    </div>
                </div>
            </div>

        </div>

    </main>

    <footer>
        <div class="copyright-text">
            <span>Copyright The Coding Fox 2023 - All Rights Reserved</span>
        </div>
    </footer>


    <script src="/static/node_modules/jquery/dist/jquery.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/index.js"></script>

</body>

</html>