<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/math_solver.css">
</head>

<body>

    <header>
        <div class="navbar-container">

        </div>
    </header>

    <main>

        <div id="main-section" class="body-section">

            <div id="main-input" class="math-input">
                <input id="main-input-input" type="text" placeholder="Enter your problem..">

                <div class="math-input-buttons">
                    <button id="solve-btn" class="math-input-btn">Solve!</button>
                </div>
            </div>
    
            <div id="main-output" class="math-output">
                <pre id="main-output-text">

                </pre>
            </div>

        </div>

    </main>

    <footer>
        <div class="copyright-text">
            <span>Copyright The Coding Fox 2023 - All Rights Reserved</span>
        </div>
    </footer>


    <script src="/static/node_modules/jquery/dist/jquery.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/math_solver.js"></script>

</body>

</html>