<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/navbar_notes.css">
    <link rel="stylesheet" href="/static/css/notes.css">
</head>

<body>

    <header>
        <div class="navbar-container">

        </div>
    </header>

    <main>

        <div id="notes-section" class="body-section">

            <div class="tools">
                <div id="note-tool" class="tool">
                    <ion-icon name="document-text-outline"></ion-icon>
                    <span class="tool-text">Note</span>
                </div>

                <div class="tool">
                    <ion-icon name="list-outline"></ion-icon>
                    <span class="tool-text">Todo</span>
                </div>

                <div class="tool">
                    <ion-icon name="link-outline"></ion-icon>
                    <span class="tool-text">Link</span>
                </div>
            </div>

            <div id="main-notes-area" class="notes-area">

                <div id="main-notes" class="notes">
                    <div class="note" style="top: 300px; left: 500px;">
                        <div placeholder="Type something.." class="note-textarea"></div>
                        <ion-icon name="arrow-forward" class="note-connection-icon"></ion-icon>
                    </div>
    
                    <div class="note" style="top: 400px; left: 1000px;">
                        <div placeholder="Type something.." class="note-textarea"></div>
                        <ion-icon name="arrow-forward" class="note-connection-icon"></ion-icon>
                    </div>
    
                    <div class="note" style="top: 700px; left: 700px;">
                        <div placeholder="Type something.." class="note-textarea"></div>
                        <ion-icon name="arrow-forward" class="note-connection-icon"></ion-icon>
                    </div>
                </div>
                
            </div>

        </div>

    </main>


    <script src="/static/node_modules/jquery/dist/jquery.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="/static/js/navbar_notes.js"></script>
    <script src="/static/js/notes.js"></script>

</body>

</html>