<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/notes.css">
</head>

<body>

    <header>
        <div class="navbar-container">

        </div>
    </header>

    <main>

        <div id="main-section" class="body-section">

            <div class="cards-container">
                <div class="card">
                    <span class="card-heading">Title</span>
                    <span class="card-body">Body</span>
                </div>

                <div class="card">
                    <span class="card-heading">Here is a title</span>
                    <span class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat rem animi consequatur praesentium quaerat? Sunt id perferendis odit ab, possimus unde perspiciatis enim quos iure qui veritatis. Porro, voluptate facere.</span>
                </div>
            </div>

        </div>

    </main>

    <footer>
        <div class="copyright-text">
            <span>Copyright The Coding Fox 2023 - All Rights Reserved</span>
        </div>
    </footer>


    <script src="/static/node_modules/jquery/dist/jquery.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/notes.js"></script>

</body>

</html>